.nav-title {
  font-size: 24px;
  font-weight: 700;
  /* display: inline-block; */
  color: #f2f2f2;
  /* padding-left: 10px; */
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
  margin-bottom: 6px;
}

.nav {
  margin: 0 0 30px;
  /* background-color: #3948a0; */
  background-image: linear-gradient(45deg, black, #1d2654);
  overflow: hidden;
  height: 138px;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  /* background-color: #3948a0; */
  background-color: transparent;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #1d2654;
  border-radius: 10px;
}

.nav-right {
  /* float: right; */
  display: flex;
  justify-content: center;
}